@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #009688;
  --secondary: #058075;
  --accent: #f59e0b;
  --light: #d3f5f2;
}

@layer utilities {
  /* Text */
  .text-theme {
    color: var(--primary);
  }
  .text-theme-dark {
    color: var(--secondary);
  }
  .text-black {
    color: var(--foreground);
  }
  .text-white {
    color: var(--background);
  }
  .text-secondary {
    color: #4a5565;
  }
  .text-light {
    color: var(--light);
  }
  /* Backgrounds */
  .bg-primary {
    background-color: var(--primary);
  }

  .bg-secondary {
    background-color: var(--secondary);
  }

  .hover\:bg-secondary:hover {
    background-color: var(--secondary);
  }

  .bg-light {
    background-color: var(--light);
  }

  .hover\:bg-light:hover {
    background-color: var(--light);
  }

 .bg-gradient {
     background: linear-gradient(135deg, #199d90, #15776f);
  }

  .bg-gradient-btn {
   position: relative;
   background: linear-gradient(135deg, #199d90, #15776f);
   overflow: hidden;
  }
 .bg-gradient-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(135deg, #15776f, #199d90);
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 0;
  pointer-events: none;
 }
 .bg-gradient-btn:hover::before {
   opacity: 1;
 }
 .bg-gradient-btn > * {
   position: relative;
   z-index: 1;
 }

  .bg-light-ultra {
    background-color: #ebf9f8;
  }

  /* Borders */
  .border-primary {
    border-color: var(--primary);
  }

  .border-secondary {
    border-color: var(--secondary);
  }

  .border-light {
    border-color: var(--light);
  }

  /* Shadow */
  .shadow-soft {
    box-shadow: 0 2px 8px -2px #3d31290d, 0 4px 16px -4px #3d312912;
  }
}


/* body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1400px;
    }
}

/* Hide scrollbar but allow scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}